<!DOCTYPE html>
<html ng-app="formatApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bot Assistant</title>
  <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://cdn.bootcss.com/angular.js/1.5.7/angular.min.js"></script>
  <link href="assets/main.css" rel="stylesheet">
  <script src="assets/format.js"></script>
</head>
<body  ng-controller="fbotCtrl">
  <p style="height:12px"></p>

  <div class="col-md-6 col-sm-12">
      <div id="chat-bot">
        <h3>Mrs.Robot:</h3>
        <div class="chat-box">{{question}}</div>
      </div>
      <br>
      <div id="chat-me" class="col-md-6 col-sm-12">
        <h3>Me: </h3>
        <div class="input-group say-box">
            <input type="text" ng-model="say" autocomplete="off" class="form-control input-lg" placeholder="Talk to me...">
                <span class="input-group-btn">
                    <button class="btn btn-success btn-lg" id="talk-button" ng-click="talk()" type="button">Talk</button>
                </span>
        </div><!-- /input-group -->
      </div>
  </div>

</body>
</html>