<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <script src="http://cdn.bootcss.com/angular.js/1.5.7/angular.min.js"></script>
  <script src="assets/format.js"></script>
</head>
<body ng-app="formatApp">
  <p style="height:32px"></p>
  <div class="container" ng-controller="formatCtrl">
    <form id="format_form" ng-show="showme">
      <button type="button" class="btn btn-default" ng-click="submit()">Generate</button>
      <button type="reset" class="btn btn-default btn-link">Reset</button>
      <hr>
      <div class="form-group">
        <label for="format_date">When it happened?</label>
        <input type="text" class="form-control" ng-model="formatData.when">
      </div>
      <div class="form-group">
        <label for="format_trigger">Situation, Triggers</label>
        <input type="text" class="form-control" ng-model="formatData.trigger" ng-change="update()">
      </div>
      <div class="form-group">
        <label for="format_thoughts">Thoughts</label>
        <input type="text" class="form-control" ng-change="update()" ng-model="formatData.thought">
      </div>
      <div class="form-group">
        <label for="format_feeling">Feeling</label>
        <input type="text" class="form-control" ng-model="formatData.feeling" ng-change="update()">
      </div>
      <div class="form-group">
       <label for="format_intensiry">Intensity</label>
       <input type="number" min="1" max="5" class="form-control" ng-model="formatData.intensity" ng-change="update()">
       <div class="help-block">
         Number between 1 and 5 required.
       </div>
      </div>
      <div class="form-group">
       <label for="format_behavior">Behaviors</label>
       <input type="text" class="form-control" ng-model="formatData.behavior" ng-change="update()">
      </div>
      <div class="form-group">
       <label for="format_consequence">What happened next</label>
       <input type="text" class="form-control" ng-model="formatData.consequence" ng-change="update()">
      </div>
    </form>

    <form id="format_show" ng-show="!showme">
      <button type="button" class="btn btn-default" ng-click="submit()">Back</button>
      <hr>
      <div class="form-group">
       <label for="format_consequence">Text</label>
       <textarea class="form-control" rows="12" ng-click="copy()">
* Time: {{formatData.when}}
* Situation, Triggers:
  {{formatData.trigger}}
* My Thoughts:
  {{formatData.thought}}
* My Feelings:
  {{formatData.feeling}}
* Intensity: {{formatData.intensity}}
* My Behaviors:
  {{formatData.behavior}}
* Consequences
  {{formatData.consequence}}
       </textarea>
      </div>
    </form>

  </div>
</body>
</html>